*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(200, 197, 197);
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(232, 229, 229);
    width: 35%;
    padding: 10px;
}

.top{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 10px;
    gap: 10px;
}
.pavadinimas{
    width: 65%;
    text-align: center;
    padding: 10px;
    margin: auto;
    background-color: rgb(232, 229, 229);
}

.logo img{
width: 40%;
height: auto;
}

.logo{
    width: 15%;
    text-align: center;
    background-color: white;
    border-left: 10px solid rgb(232, 229, 229);
    border-top: 10px solid rgb(232, 229, 229);
    border-bottom: 10px solid rgb(232, 229, 229);

}

.navbar{
    display: flex;
    background-color: rgb(232, 229, 229);
}

nav{
    width: 85%;
    text-align: center;
    margin:auto;
}

nav ul{
    display: flex;
    justify-content: space-around;
}


nav ul li a{
    text-decoration: none;
    color: black;  
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover{
    background-color: rgb(71, 70, 70);
    border-radius: 10px;
    color: white;
}

nav ul li{
    display: inline-block;
}

.main{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}

.sidebar{
    width: 100%;
    background-color: rgb(232, 229, 229);
    text-align: center;
}

.sidebar ul{
    display: flex;
    flex-direction: row; 
    list-style: none;
    justify-content: space-around;
}

.sidebar ul li{
    padding: 20px;
    }

.sidebar ul li a{
    text-decoration: none;
    color: black;  
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar a:hover{
    color: white;
}
.form{
    background-color: rgb(232, 229, 229);
    padding: 10px;
}
.filtruoti{
    padding-top: 10px;
    padding-bottom: 10px;
}

.rikiuoti{
    padding-bottom: 10px;
}

label{
    display: inline-block;
    width: 180px;
}
table{
    font-size: 15px;
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

footer{
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 992px){
    .login{
        width:50%;
    }
    .aprasymas{
        width:50%;
    }

    table{
        font-size: 10px;
    }
    .table{
        max-height: 650px;
        overflow-x: scroll;
    }
}
@media screen and (max-width: 768px){
    .login{
        width: 100%;
        display: flex;
        flex-direction: row;
        
    }
    .pavadinimas{
        text-align: center;
        margin: 10px 0;
        width: 100%;
    }

    .top{
        display:block;
        padding: 0;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        padding: 10px;
    }

    nav ul li a{
        padding: 10px;
    }

    .logo{
        width: 30%;
        text-align: center;
    }
    .logo img{
        margin: auto;
        display: block;
        width: 100%;
        height: auto;
    }
    .sidebar ul{
        flex-direction: column;
    }
    .sidebar ul li{
        padding: 10px;
    }

    .sidebar ul li a{
        padding: 10px;
    }

}

@media screen and (max-width: 576px){
    body{
        padding: 20px;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        padding: 10px;
    }

    nav ul li a{
        padding: 10px;
    }

    .logo{
        width: 30%;
    }
    .login{
        width: 100%;
        display: flex;
        flex-direction: row;
        
    }
    .pavadinimas{
        text-align: center;
        /* padding: 10px; */
        width: 100%;
    }
    
    .top{
        display:block;
        padding: 0;
    }
    .sidebar ul{
        flex-direction: column;
    }
    .sidebar ul li{
        padding: 10px;
    }

    .sidebar li a{
        padding: 10px;
    }
}